#header{
	height: 60px;
	border-bottom: 2px solid black;
	padding-left: 30px;
	padding-right: 30px;
}
#container{
	width: 900px;
	padding-top: 30px;
	margin: auto;
}

#DojoWall{
	margin: 0px;
}

#logout{
	position: absolute;
}

.header{
	display: inline-block;
}

h1{
	margin-right: 700px;
}

#logout{
	position: relative;
	text-align: right;
	margin-left: 20px;
	font-size: 18px;
}
#name{
	font-size: 20px;
}

.post{
	font-size: 22px;
	font-style: bold;
}

#comments{
	margin-left: 50px;
}

#messages{
	margin-left: 30px;
	font-size: 18px;
	padding-top: 20px;
}

#mess_button{
	background-color: blue;
	color: white;
	vertical-align: right;
	font-size: 16px;
	margin-left: 650px;
}

#delete_button{
	background-color: green;
	color: white;
	vertical-align: right;
	font-size: 16px;
	margin-left: 620px;
}	

#comment_button{
	background-color: purple;
	color: white;
	font-size: 16px;
	

}